.catalog {
    &__icon {
        padding: 6px 87px;
        padding-right: 0;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 43px;
    }
    &__buttons {
        display: flex;
    }
    &__menu {
        display: none;
        width: 359px;
        position: absolute;
        top: 52px;
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        &_active{
            display: block;
        }
    }
    &__buttons {
        background: #f4f4f4;
        margin-bottom: 23px;
    }
}

.heart {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/heart.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.cosmetic {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/cosmetic.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.cup {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/cup.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}
.home {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/home.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.face {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/face.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.glasses {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/glasses.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.thermometer {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/thermometer.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.discount {
    &::after {
        justify-content: center;
        content: "";
        display: block;
        width: 34px;
        height: 34px;
        background-image: url("../images/discount.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: -3px;
        left: 20px;
    }
}

.button__categories {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
}

.button__brend {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 20px;
}

@media screen and (max-width: 480px) {
    .catalog__menu_active{
        width: 290px;
    }
}

